.frame {
    padding: 20px;
    margin: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 223, 248, 0.816); 
}

.inner-container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    margin: 20px; 
}

.outer-container {
    background-color: rgba(218, 223, 248, 0.816);
    padding: 20px;
    border-radius: 15px;
    margin: 20px; 
}

.content {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    font-size: 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 1rem; 
    background-color: rgba(218, 223, 248, 0.816);
    color: black; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #8e969f;
}

button:active {
    background-color: #004080;
}

button i {
    margin-right: 5px;
}

#plus, #minus, #reset {
    color: black;
}

#counter {
    font-size: 5rem;
    margin-bottom: 10px;
}
